.container {
  width: 450px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 40px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #fff;
}

.container .input-field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px auto;
}

.input-field input {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.input-field input::placeholder {
  color: #fff;
}

.input-field .icon {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #fff;
}

.container .recall-forget {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.recall-forget label {
  color: #fff;
}

.recall-forget input {
  margin-right: 5px;
}

.recall-forget a {
  color: #fff;
  text-decoration: none;
}

.recall-forget a:hover {
  text-decoration: underline;
}

.container button {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-shadow: none;
}
